body {
  background-color: white; /* warna latar halaman */
}

.kotak1 {
  background-color: lightgreen; /* background warna */
  padding: 20px;
}

.kotak2 {
  background-image: url(../image/background/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: blue;
  padding: 50px;
  margin-top: 20px;
}

.kotak3 {
  background: url(../image/background/pemandanga.jpg) no-repeat center/cover
    fixed;
  height: 200px;
  color: yellow;
  text-align: center;
  padding-top: 80px;
  font-size: 20px;
  margin-top: 20px;
}
