body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: darkblue;
}

p.satu {
  color: green;
  text-indent: 30px;
  line-height: 1.6;
}

p.dua {
  letter-spacing: 2px;
  word-spacing: 8px;
  text-decoration: underline;
  color: crimson;
}

a {
  text-decoration: none;
  color: orange;
}
