/* 1. Styling hr */
hr {
  border: 2px solid blue; /* warna biru */
  width: 80%; /* panjang garis */
  margin: 20px auto; /* tengah */
}

/* 2. Garis pakai border */
.garis-border {
  border-top: 3px dashed red; /* garis putus-putus merah */
  width: 70%;
  margin: 20px auto;
}

/* 3. Garis pakai background-color */
.garis-bg {
  background-color: green; /* warna hijau */
  height: 3px; /* tebal garis */
  width: 60%; /* panjang garis */
  margin: 20px auto;
}

/* 4. Garis vertikal */
.garis-vertikal {
  border-left: 4px solid black; /* garis tegak hitam */
  height: 150px;
  margin: 20px auto;
}
