/* selector */
#p {
  color: red;
}

#h1 {
  /* blok deklarasi */
  color: blue;
  text-align: center;
}

/* properti dan nilai */
p {
  font-size: 18px; /* properti = font-size, nilai = 18px */
  color: green; /* properti = color, nilai = green */
}

/* selektor */
h1 {
  /* blok deklarasi */
  color: black; /* properti: nilai */
  font-size: 24px; /* properti: nilai */
}
