.box-px {
  width: 200px;
  height: 100px;
  background: lightblue;
}

.box-percent {
  width: 50%;
  height: 100px;
  background: lightgreen;
}

.box-vw {
  width: 50vw;
  height: 100px;
  background: lightcoral;
}

.text {
  font-size: 2rem; /* relatif ke html */
}
